# Ignore local database files
backend/data/

# Maven / Java
**/target/
*.log

# IDEs
*.iml
.idea/
.vscode/
.classpath
.project

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Others
npm-debug.log
yarn-error.log

