services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: flexfolio
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql